dist: trusty
language: python
python:
  - '2.6'
  - '2.7'
  - '3.3'
  - '3.4'
  - '3.5'

matrix:
  allow_failures:
    - python: '3.3'
    - python: '3.4'
    - python: '3.5'
  fast_finish: true

notifications:
  email:
    on_failure: always
    on_success: never

cache:
  pip: true

install:
  - pip install pylint_runner
  - pip install -r requirements.txt
  - if [[ ${TRAVIS_PYTHON_VERSION:0:3} != "2.6" ]]; then python setup.py install; fi

script:
  - ppastats canonical-foundations/ci-train-backports
  - pylint_runner

deploy:
  provider: pypi
  user: Master_Odin
  password:
    secure: XKlBUEXUE/V62G8eKwBf7mnhfGhd9wfBZqlmU6ACN/+PKN1LIm9B8aBm8Dq20/y6lBGSocC6fiOQ325oz5gDNNc4mYDeDUtnYeX5zWe90Yqc+NwO0IepRQgb3J1RRSbQIQyEkEKHrTOKFlM3s7dwYaGfLD5o2qnIgrW4mGoWRVmoutsE9PfHIOgzfovc9jEmCe8UoS5tB42QKVGRp2FJzW3OEkYrPDvRmtMyt9f+JWKpRE/RdpQNtjpZcxnLIVIfZoHLOXB1HTtS3aH2HzwuHf2BgsBMYCmxU+IetaFgfDoX8NMHVc29Pzso7eIL9b3uUlw5ZzHqbiuO3ybZNflBBShJNCcs3skJWHIRXzvBJ83tpDpA5T7xYJviTIw3waQ4Mpf9Jux5Oz0daTWwqZq3A8+STJCRVbLTXZOJbUEEGI7ft0vLLCMr0G1U6kcrGvZCSR2iKJtgIDRiEgw2tsLTtLnwv8ybIObDqH1n1JIvCVeahFEZfApX4U9iBDzm+P57dOzrn8PwN1n1aH17E8B+0pT7hxSmR5jyr+BmBSc+9l4uMufO8R/jttlrZ8QGoa4Yui71EPmrbryjsHqjFgKCd3tXmT7MaY9tRnQfwV4BiiO4JaDzE0HcbI4MbsTrGMdNyUrlQkeoImlcfxE++ktdxom1QYJUIJ0vlNyx7qTRCU4=
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: MasterOdin/ppastats
